/* START HEADER & FIRST SECTION */
.background-image {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.bg-purple {
  background-color: #C271FF;
}

.img-background {
    position: relative;
    width: 100%;
}
.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}
