/* START HEADER & FIRST SECTION */
.bg-img-home {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-img-pricing {
  background-image: url("images/pic_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-img-courses {
  background-image: url("images/pic_3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-purple {
  background-color: #C271FF;
}
.bg-light-purple {
  background-color: #d49dff;
}
.bg-blue {
  background-color: #071629;
}
.img-background {
    position: relative;
    width: 100%;
}
.img-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.txt-purple{
  color: #C271FF;
  padding-right: 0.3rem;
  font-weight: bold;
}

.navbar a {
  color: white;
}

th, td {
  width: 200px;
  text-align: center;
}